.footer-container {
    width: 100%;
    height: 100px;
    position: absolute;
}

.footer-background {
    width: 100%;
    height: 100%;
    background: rgb(13, 91, 160);
    position: absolute;
    top: 0;
    left: 0;
}

.footer-content {
    max-width: 1262px; /* Ajusta el tamaño máximo del contenido */
    /* margin: 0 auto; Centra el contenido */
    display: flex;
    justify-content: space-between; /* Espacia los elementos de forma equitativa */
    align-items: center; /* Centra verticalmente los elementos */
}

.footer-item {
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.footer-item p {
    margin-left: 5px;
}

.phone {
    /* width: 250px; */
    top: 0;
}

.email {
    width: 250px;
    top: 32px;
}

.footer-icon {
    margin-top: 20px;
    position: absolute;
    /* background: white; */
}

.icon1 {
    width: 24px;
    height: 24px;
    top: 16px;
    left: 1238px;
}

.icon2 {
    width: 20px;
    height: 20px;
    top: 16px;
    left: 1134px;
}

.icon3 {
    width: 24px;
    height: 24px;
    top: 16px;
    left: 1184px;
}

.footer-text {
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    position: absolute;
}

.question {
    left: 592px;
    top: 33px;
}

.about {
    left: 592px;
    top: 1px;
}

.footer-phone {
    color: #fff;
    /* margin-left: 10px; */
}
