.footer-container {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.footer-background {
    width: 100%;
    height: 100%;
    background: rgb(13, 91, 160);
    position: absolute;
    top: 0;
    left: 0;
}

.footer-content {
    max-width: 1262px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.footer-item {
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin: 10px 0;
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item p {
    margin-left: 5px;
}

.phone, .email, .footer-icon {
    margin: 10px 0;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
}

.footer-icon img {
    margin: 0 10px;
}

.footer-text {
    color: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
    flex: 1 1 100%;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .footer-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-icon {
        justify-content: flex-start;
    }

    .footer-icon img {
        margin: 10px 5px;
    }
}

@media (max-width: 480px) {
    .footer-content {
        padding: 10px;
    }

    .footer-item {
        font-size: 14px;
    }

    .footer-text {
        font-size: 14px;
    }
}
