@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

a:focus {
    color:#ffeb3b
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    color: #333;
    /* padding-bottom: 100px; Para evitar que el contenido final quede oculto detrás del footer */
}

header {
    /* background: linear-gradient(90deg, rgba(13, 92, 160, 0.85), rgba(13, 92, 160, 0.60)); */
    background: linear-gradient(90deg, #4caf4f94, #4caf4f65);
    color: white;
    padding: 20px;
    position: absolute; /* Fijo para que el encabezado permanezca en la parte superior al hacer scroll */
    width: 97%; /* Asegura que el encabezado cubra toda la pantalla */
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumentar la sombra para más profundidad */
    display: flex; /* Asegura que el contenido del encabezado esté en una línea */
    justify-content: space-between; /* Espacia el contenido del encabezado */
    align-items: center;
}

header h1 {
    color: #FFF;
    font-family: 'Rochester', cursive;
    font-size: 36px;
    margin: 0;
}

nav a {
    color: white;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none; /* Cambiar a none para un estilo más limpio */
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #ffeb3b; /* Color llamativo en el hover */
    transform: scale(1.1); /* Aumentar tamaño en el hover */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

header h1 {
    color: #FFF;
    font-family: 'Rochester', cursive;
    font-size: 36px;
    margin: 0;
}

nav a {
    color: white;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: underline;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFA726;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh; /* Hace que la sección hero ocupe toda la pantalla */
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la sección */
    opacity: 0.7; /* Añade opacidad a la imagen */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85); /* Superposición oscura */
    z-index: 1;
}

.hero-text {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 2;
    width: 80%;
    max-width: 600px;
    color: #fff;
    padding: 20px; /* Añade padding para que el texto no toque los bordes */
    box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
}

.hero-text h2 {
    font-size: 32px;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero-text p:last-child {
    font-weight: bold;
}


/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    header {
        padding: 10px; /* Reducir el padding general en dispositivos móviles */
    }

    header img {
        width: 150px; /* Reducir más el tamaño del logo en dispositivos móviles */
    }

    header nav a {
        font-size: 12px; /* Reducir más el tamaño de la fuente en dispositivos móviles */
    }

    .cta-button {
        padding: 8px 16px; /* Reducir más el padding en dispositivos móviles */
        font-size: 12px; /* Reducir más el tamaño de la fuente en dispositivos móviles */
    }
}



/* FIN DEL HEADER */

.packs {
    margin-top: 20px;
    padding: 40px 20px;
    text-align: center;
}

.packs h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.packs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pack {
    background: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    flex: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pack:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.pack i {
    font-size: 40px;
    color: rgb(13, 91, 160);
}

.pack h3 {
    font-size: 24px;
    margin-top: 10px;
}

.pack p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

/* Responsividad */
@media (max-width: 768px) {
    .packs h2 {
        font-size: 24px;
    }

    .pack {
        max-width: 100%;
    }

    .pack i {
        font-size: 35px;
    }

    .pack h3 {
        font-size: 20px;
    }

    .pack p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .packs h2 {
        font-size: 20px;
    }

    .pack {
        max-width: 100%;
    }

    .pack i {
        font-size: 30px;
    }

    .pack h3 {
        font-size: 18px;
    }

    .pack p {
        font-size: 12px;
    }
}

.cta {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2000;
}

.cta-button {
    background: rgb(13, 91, 160);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background 0.3s, transform 0.3s;
}

.cta-button i {
    margin-right: 10px;
}

.cta-button:hover {
    background: #FFA726;
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    .cta-button {
        padding: 12px 24px;
        font-size: 14px;
    }

    .cta {
        bottom: 35px;
        right: 35px;
        
    }
}

@media (max-width: 480px) {
    .cta-button {
        padding: 10px 20px;
        font-size: 12px;
    }

    .cta {
        bottom: 25px;
        right: 25px;
    }
}




/* Responsividad */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav a {
        font-size: 14px;
    }

    .hero-text h2 {
        font-size: 24px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .packs h2 {
        font-size: 22px;
    }

    .pack {
        max-width: 100%;
    }

    .cta-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 430px) {
    header h1 {
        font-size: 20px;
    }

    nav a {
        font-size: 12px;
    }

    .hero-text h2 {
        font-size: 20px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .packs h2 {
        font-size: 20px;
    }

    .pack i {
        font-size: 30px;
    }

    .pack h3 {
        font-size: 20px;
    }

    .pack p {
        font-size: 14px;
    }

    .cta-button {
        font-size: 12px;
        padding: 8px 16px;
    }
}
